.sct-card__content {
  max-width: 400px;
}

.sct-card__fwr-panel {
  background-color: rgba(19, 63, 62, 0.90);
  border-radius: calc(.5rem - 1px);
  margin: 0.5rem;
  padding: 0.5rem;
}
.sct-card__fwr-container {
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
  max-height: 400px;
  margin: auto;
}

.box {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 3s ease;
  border-radius: 50%;
}

.box:hover {
  transition-duration: 0s;
}

.white-div {
  background: white !important;
}

/*
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.panel{
  color: white;
  text-align: center;
}
.info {
  font-size: 0.6rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 400px;
}
.square {
  width: 16px;
  height: 16px;
  background: #1d1d1d;
  margin: 2px;
  box-shadow: 0 0 2px #000;
  transition: 3s ease;
}

.square:hover {
  transition-duration: 0s;
}

.white-div {
  background: white !important;
}


*/