$snowflakeSize: 15;
$duration: 5000;

@function randomNum($min, $max) {
  $rand: random();
  $randomNum: $min + floor($rand * (($max - $min) + 1));

  @return $randomNum;
}

.snow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 1vw;
  height: 1vh;
  overflow: hidden;
}

.snowflake {
  position: fixed;
  z-index: 25;
  width: $snowflakeSize + px;
  height: $snowflakeSize + px;
  //background: $yellow;
  top: 0;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 240'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23d3e9f4;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Esnowflake%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cpath class='cls-1' d='M240,112.9H196.9l19.4-19.4-9.5-9.5.2-13.3-27.5-.4L209.7,40l-9.9-9.9L169.3,60.6V33.1h-14v.3l-8.7-9L127.1,43.3V0h-14V44.1L93.4,24.4l-9.3,9.3-12.9-.2-.4,27.2L40.2,30.1,30.3,40,61.5,71.2H33.7V84.4l-9.3,9,18.9,19.5H0v14H44.1L24.4,146.5l9.3,9.3-.2,12.9,27.2.4L30.1,199.8l9.9,9.9,31.2-31.2v27.8H83.6l9.7,10.1,19.7-19.1V240h14V196.9l19.4,19.4,9.5-9.5,13.3.2.4-27.5L200,209.7l9.9-9.9-30.5-30.5h27.5V155.8l9.5-9.2-19.1-19.7H240ZM205.4,84.6l-28.3,28.3H136.9L165.8,84Zm-50-49.2V74.6l-28.3,28.3V62.8ZM85.2,36l27.9,27.9v39.2L84.6,74.5ZM36,85.2H75.5l27.7,27.7H62.8Zm0,69.6,27.9-27.9h39.2L74.5,155.4Zm49.2,50V164.5l27.9-27.9v41.2Zm70.2.5-28.3-28.3V136.9L156,165.8Zm50-50h-40l-28.5-28.5h40.9Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  @for $i from 1 through 100 {
    &:nth-child(#{$i}) {
      left: $i * 3%;
      transform: rotate(#{randomNum(-80, 80)}deg);
      animation: makeItRain $duration * 1ms infinite ease-out;
      animation-delay: #{randomNum(0, $duration * .5)}ms;
      animation-duration: #{randomNum($duration * .7, $duration * 1.2)}ms
    }
  }

  //&:nth-child(odd) {
  //  background: $blue;
  //}

  &:nth-child(even) {
    z-index: 40;
  }

  &:nth-child(4n) {
    width: #{$snowflakeSize - 5} + px;
    height: #{$snowflakeSize - 5} + px;
    animation-duration: $duration * 2ms;

  }

  &:nth-child(3n) {
    width: #{$snowflakeSize - 10}px;
    height: #{$snowflakeSize - 10}px;
    animation-duration: $duration * 2.5ms;
    animation-delay: $duration * 1ms;
  }

  //&:nth-child(4n-7) {
  //  background: $pink;
  //}
}

@keyframes makeItRain {
  from {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  to {
    transform: translateY(100vh);
  }
}
