@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

:root {
    --bg-color-base: black;
    --sct-body-font-size: 1rem;
    --sct-font-roboto: Roboto,sans-serif;
    --sct-body-font-weight: 300;
    --sct-modal-bg-color: rgba(19, 63, 62, 0.83);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

}
body {
    font-size: var(--sct-body-font-size);
    line-height: 1.6;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    min-height: 300px;
    background-color: var(--bg-color-base);
    overflow: hidden;
    color:white;
}
a {
    text-decoration: none;
}
[role=button] {
    cursor: pointer;
}
.btn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    user-select: none;
    background-color: transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: uppercase;
    vertical-align: bottom;
    font-weight: 500;
    font-size: .75rem;
    line-height: 1.5;
    border-width: .125rem;
    border-style: solid;
    box-shadow: none;
    padding: .5rem 1.375rem .375rem;
    color: #39c0ed;
    border-color: #39c0ed;
    cursor: pointer;
}
.sky{
    z-index: 10;
    position: absolute;
}
.street{
    z-index: 20;
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 300px;
    display: flex;
    justify-content: center;
    background: url("./assets/img/street.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.street-item{
    flex: 0 2 auto;
    width: 50%;
}
.tree {
    z-index: 30;
    position: absolute;
}

.tree .cls-40:hover {
    fill: red;
    cursor: pointer;
}

.snow {
    z-index: 25;
    background-color: transparent;
}
.modal_area {
    z-index: 31;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 2rem;

}
.modal_area-lg {
    left: 5%;
}

@media (max-width: 575px) {
    .tree {
        width: 80vw;
        height: 50vh;
        bottom: 0;
        right: 0;
    }
    .sct-card {
        padding: 0;
    }
    .modal_area {
        left: 0;
        width: 100%;
        padding: 0;
        height: 90vh;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {  }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .tree {
        width: 50vw;
        bottom: 8%;
        right: 1%;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .tree {
        width: 29vw;
        bottom: 8%;
        right: 15%;
    }
}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .tree {
        width: 23vw;
        bottom: 10%;
        right: 25%;
    }
}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .tree {
        width: 25vw;
        bottom: 10%;
        right: 20%;
    }
}

